.botborder {
	border-bottom: 1px #cccccc solid;
}

.bg {
	background-color: #eee;
}

div.jumbotron {
	padding-top: 0;
	padding-bottom: 15px;
}

.container-fluid {
	margin-left: 55px;
}

div.desk-buttons {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	width: 55px;
}

.desk-buttons div {
	margin-bottom: 5px;
}

.col {
	float: left;
	position: relative;
	padding: 0 15px;
}

.persons {
	padding: 5px;
	overflow: hidden;
}

.persons h1 {
	margin-bottom: 0;
}
.persons h2 {
	margin: 0;
}
.persons h3 {
	margin: 0;
}
.persons h4 {
	color: #777;
	margin: 0;
}

.dateKO {
	color: #FF0000;
	font-weight: bold;
}