div.desk-buttons {
	position: absolute;
	padding-top: 10px;
	padding-left: 10px;
	width: 55px;
}

.desk-buttons div {
	margin-bottom: 5px;
}

.col {
	float: left;
	position: relative;
	padding: 0 15px;
}

.botborder {
	border-bottom: 1px #cccccc solid;
}

.age-young {
	background-color: #e8e8e8;
}

div.age-normal {
	background-color: #f6f6f6;
}

div.age-old {
	background-color: #ffffff;
}

.persons {
	padding: 5px;
	overflow: hidden;
	transition: background-color 1000ms linear;
}

.persons h1 {
	margin-bottom: 0;
}
.persons h2 {
	margin: 0;
}
.persons h3 {
	margin: 0;
}
.persons h4 {
	color: #777;
	margin: 0;
}

.dateKO {
	color: #FF0000;
	font-weight: bold;
}

.checkin-time {
	float: right;
	font-style: italic;
	color: #888888;
}

@keyframes highlight {
	0% {
		background-color: #ffff99; /* lovely yellow colour */
	}
	100% {
		background-color: #e8e8e8;
	}
}

.highlight {
	animation: highlight 2s;
}
