<!DOCTYPE html>
<html lang="en" ng-app="entrance">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Breizhcamp Badges</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/screen2.css" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>

	<script src="js/vendor/moment.min.js"></script>
	<script src="js/vendor/moment-fr.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/vendor/angular-locale_fr-fr.js"></script>
	<script src="js/vendor/angular-moment.min.js"></script>

	<script src="js/io_service.js"></script>
	<script src="js/person_service.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/screen2_controller.js"></script>

</head>
<body ng-controller="screen2">

<div class="desk-buttons">
	<div>
		<button class="btn btn-default btn-sm" ng-click="showDeskConfig = !showDeskConfig"><span class="glyphicon glyphicon-cog"></span></button>
	</div>

	<div ng-repeat="d in desks" ng-show="showDeskConfig">
		<button class="btn" ng-class="{active: d.active, 'btn-default': !d.active, 'btn-primary': d.active}" ng-click="d.active = !d.active">{{d.name}}</button>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<div ng-repeat="d in activeDesks" class="col" style="width: {{colWidth}}%">
			<h1 class="text-center">{{d}}</h1>

			<div class="persons botborder age-{{person.age}}" ng-class="{'highlight': person.age == 'young'}"
				 ng-repeat="person in list | filter:{desk: d}:true" ng-click="badge(person)">

				<div class="ticket-type">
					<span class="text-primary">{{person.type}}</span>
					<div ng-class="{'dateKO': !person.dateOk}">
						<span ng-repeat="day in person.days">{{day|date:'EEE'}}&nbsp;</span>
					</div>
				</div>

				<h1>{{person.id}} <span class="glyphicon glyphicon-bullhorn" ng-show="person.speaker"></span></h1>
				<h2>{{person.prenom}} {{person.nom}}</h2>
				<h4 ng-show="person.societe">{{person.societe}}</h4>

				<div class="checkin-time"><span am-time-ago="person.checkin"></span></div>
			</div>
		</div>
	</div>
</div>

</body>

</html>