<!DOCTYPE html>
<html lang="en" ng-app="entrance">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Entrance - 2nd screen</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/screen2.css" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>
	<script src="js/vendor/moment.min.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/vendor/angular-locale_fr-fr.js"></script>
	<script src="js/io_service.js"></script>
	<script src="js/person_service.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/screen2_controller.js"></script>

</head>
<body ng-controller="screen2">

<div class="desk-buttons" ng-click="updateActiveDesks()">
	<div ng-repeat="d in desks">
		<button class="btn" ng-class="{active: d.active, 'btn-default': !d.active, 'btn-primary': d.active}" ng-click="d.active = !d.active">{{d.name}}</button></div>
</div>

<div class="container-fluid">
	<div class="row">
		<div ng-repeat="d in activeDesks" class="col-xs-{{colWidth}}"><h2>{{d}}</h2></div>
	</div>
</div>

<div class="jumbotron" ng-show="list.length > 0">
	<div class="container">
		<div ng-repeat="person in list" ng-if="$index < 2" ng-class="{botborder: $even}">
			<h1>{{person.id}} - {{person.nom}} {{person.prenom}}</h1>
			<h1 style="margin-top: -45px" ng-show="person.societe"><small>{{person.societe}}</small></h1>

			<h2 class="text-primary">
				<span class="glyphicon glyphicon-bullhorn" ng-show="person.speaker"></span>
				{{person.type}}
				<small>
					<span ng-repeat="day in person.days">{{day|date:'EEE'}} </span>
				</small>
				<span ng-show="person.dateOk" class="glyphicon glyphicon-ok"></span>
			</h2>
		</div>
	</div>
</div>

<div class="container" ng-show="list.length > 2">
	<table class="table table-striped">
		<thead>
		<tr>
			<th style="width: 55px">Code</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Société</th>
			<th>Billet</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="person in list" ng-if="$index > 1">
			<td class="text-right">{{person.id}}</td>
			<td>{{person.nom}}</td>
			<td>{{person.prenom}}</td>
			<td>{{person.societe}}</td>
			<td>
				<span class="glyphicon glyphicon-bullhorn" ng-show="person.speaker"></span>
				{{person.type}} <span ng-show="person.dateOk" class="glyphicon glyphicon-ok"></span>
			</td>
		</tr>
		</tbody>
	</table>

</div>
</body>

</html>