<!DOCTYPE html>
<html lang="en" ng-app="entrance">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Entrance</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">

	<script src="js/vendor/moment.min.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/vendor/angular-locale_fr-fr.js"></script>
	<script src="js/search_controller.js"></script>
	<script src="js/directives.js"></script>

</head>
<body ng-controller="search">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Breizhcamp</a>
		</div>
		<div class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" role="form">
				<div class="form-group">
					<input type="text" id="s" placeholder="Id, nom, prénom, société..."
						   class="form-control" autofocus tabindex="1"
						   ng-model="s" select-on-enter
						   ng-keypress="keypress($event)" >
				</div>
				<div class="btn btn-success" ng-hide="toSecondScreen" ng-click="searchTime()">
					<span class="glyphicon glyphicon-search"></span>
				</div>

				<div class="btn btn-success" ng-show="toSecondScreen" ng-click="sendToSecondScreen()">
					<span class="glyphicon glyphicon-arrow-right"></span>
				</div>
			</form>
		</div><!--/.navbar-collapse -->
	</div>
</div>

<div class="jumbotron" ng-show="person">
	<div class="container">
		<div class="pull-right"><span gravatar size="125" email-hash="{{person.mailmd5}}"></span></div>
		<h1>{{person.nom}} {{person.prenom}}</h1>
		<h1 style="margin-top: -45px" ng-show="person.societe"><small>{{person.societe}}</small></h1>

		<h2 ng-class="{'text-primary': person.speaker, 'text-info': !person.speaker}">
			{{person.type}}
			<small>
				<span ng-repeat="day in person.days">{{day|date:'EEE'}} </span>
			</small>
			<span ng-show="person.dateOk" class="glyphicon glyphicon-ok"></span>
			<span ng-show="person.dif" class="text-warning"><span class="glyphicon glyphicon-pencil"></span> DIF</span>
		</h2>
	</div>
</div>

<div class="container" ng-show="list">
	<table class="table">
		<thead>
		<tr>
			<th>Code</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Société</th>
			<th>Billet</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="person in list" ng-class="{active: active-1 == $index}">
			<td>{{person.id}}</td>
			<td>{{person.nom}}</td>
			<td>{{person.prenom}}</td>
			<td>{{person.societe}}</td>
			<td>{{person.type}}</td>
		</tr>
		</tbody>
	</table>

</div>
</body>

</html>
